services:
  postgres:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    container_name: quackback-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quackback
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./docker/postgres/init-pgcron.sql:/docker-entrypoint-initdb.d/init-pgcron.sql
    command: postgres -c shared_preload_libraries=pg_cron -c cron.database_name=quackback -c max_connections=200
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    container_name: quackback-dragonfly
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - dragonfly_data:/data
    ulimits:
      memlock: -1
    command: dragonfly --default_lua_flags=allow-undeclared-keys --cluster_mode=emulated
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  dragonfly_data:
