@import "tailwindcss";

@theme inline {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.08% 0.004 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.08% 0.004 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.08% 0.004 285.82);
  --color-primary: oklch(20.47% 0.006 285.88);
  --color-primary-foreground: oklch(98.48% 0.001 285.8);
  --color-secondary: oklch(96.76% 0.001 285.81);
  --color-secondary-foreground: oklch(20.47% 0.006 285.88);
  --color-muted: oklch(96.76% 0.001 285.81);
  --color-muted-foreground: oklch(55.55% 0.014 285.94);
  --color-accent: oklch(96.76% 0.001 285.81);
  --color-accent-foreground: oklch(20.47% 0.006 285.88);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(98.48% 0.001 285.8);
  --color-border: oklch(91.37% 0.003 285.84);
  --color-input: oklch(91.37% 0.003 285.84);
  --color-ring: oklch(20.47% 0.006 285.88);
  --color-chart-1: oklch(64.62% 0.169 21.47);
  --color-chart-2: oklch(60.03% 0.118 184.7);
  --color-chart-3: oklch(39.82% 0.07 227.39);
  --color-chart-4: oklch(74.22% 0.14 85.1);
  --color-chart-5: oklch(64.53% 0.222 41.12);
  --radius: 0.625rem;
  --color-sidebar: oklch(98.48% 0.001 285.8);
  --color-sidebar-foreground: oklch(14.08% 0.004 285.82);
  --color-sidebar-primary: oklch(20.47% 0.006 285.88);
  --color-sidebar-primary-foreground: oklch(98.48% 0.001 285.8);
  --color-sidebar-accent: oklch(96.76% 0.001 285.81);
  --color-sidebar-accent-foreground: oklch(20.47% 0.006 285.88);
  --color-sidebar-border: oklch(91.37% 0.003 285.84);
  --color-sidebar-ring: oklch(20.47% 0.006 285.88);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --color-background: oklch(14.08% 0.004 285.82);
  --color-foreground: oklch(98.48% 0.001 285.8);
  --color-card: oklch(14.08% 0.004 285.82);
  --color-card-foreground: oklch(98.48% 0.001 285.8);
  --color-popover: oklch(14.08% 0.004 285.82);
  --color-popover-foreground: oklch(98.48% 0.001 285.8);
  --color-primary: oklch(98.48% 0.001 285.8);
  --color-primary-foreground: oklch(20.47% 0.006 285.88);
  --color-secondary: oklch(26.98% 0.005 285.87);
  --color-secondary-foreground: oklch(98.48% 0.001 285.8);
  --color-muted: oklch(26.98% 0.005 285.87);
  --color-muted-foreground: oklch(71.19% 0.013 285.79);
  --color-accent: oklch(26.98% 0.005 285.87);
  --color-accent-foreground: oklch(98.48% 0.001 285.8);
  --color-destructive: oklch(39.6% 0.141 25.72);
  --color-destructive-foreground: oklch(98.48% 0.001 285.8);
  --color-border: oklch(26.98% 0.005 285.87);
  --color-input: oklch(26.98% 0.005 285.87);
  --color-ring: oklch(87.53% 0.003 285.81);
  --color-chart-1: oklch(70.36% 0.127 227.39);
  --color-chart-2: oklch(67.65% 0.152 163.22);
  --color-chart-3: oklch(100% 0 0);
  --color-chart-4: oklch(75.06% 0.122 66.87);
  --color-chart-5: oklch(64.53% 0.222 41.12);
  --color-sidebar: oklch(14.08% 0.004 285.82);
  --color-sidebar-foreground: oklch(98.48% 0.001 285.8);
  --color-sidebar-primary: oklch(70.36% 0.127 227.39);
  --color-sidebar-primary-foreground: oklch(98.48% 0.001 285.8);
  --color-sidebar-accent: oklch(26.98% 0.005 285.87);
  --color-sidebar-accent-foreground: oklch(98.48% 0.001 285.8);
  --color-sidebar-border: oklch(26.98% 0.005 285.87);
  --color-sidebar-ring: oklch(70.36% 0.127 227.39);
}
